/build
/tests
/ptas/__pycache__
/ptas/projects
/ptas/errors
/ptas/temp
/ptas/env
/server/__pycache__
/server/projects
/server/errors
/server/temp
/server/env
*.junk
/visio
/ptas.docker/function/__pycache__
evaluation_server/
locust_scripts/
modified_server/
.DS_Store
node_modules
/dist
/results


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?