/build
/tests
/ptas/__pycache__
/ptas/projects
/ptas/errors
/ptas/temp
/ptas/env
/server/__pycache__
/server/projects
/server/errors
/server/temp
/server/env
private_ptas.yml
basic-auth-password
seq.vsdx
~$$seq.~vsdx
*.junk
*.sh
cloud-config-private.txt
cloud-config-default.txt