node_modules/
server/
evaluation_server/results/last_questions/*
evaluation_server/results/first_questions/*
modified_server/ptas/
modified_server/server/projects/locust_scripts/locust/__pycache__
modified_server/server/projects/locust_scripts/locust/gen_gs_alarm_device_workload
modified_server/server/projects/locust_scripts/locust/gen_gs_prod_workload
modified_server/server/projects/locust_scripts/locust/locust_teastore
__pycache__/
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?