[Unit]
Description=Port Forwarding
After=syslog.target
[Service]
User=root
Type=simple
Restart=always
ExecStart=/usr/local/bin/kubectl port-forward -n openfaas svc/gateway 8080:8080 --address='0.0.0.0'
[Install]
WantedBy=multi-user.target