[Unit]
Description=Port Forwarding
After=syslog.target
[Service]
User=root
Type=simple
Restart=always
RestartSec=30
ExecStart=bash /etc/Openfaas-Performance-Testing-as-a-Service/port-forward-k8s-script.sh
[Install]
WantedBy=multi-user.target