<!-- Button trigger info modal -->
<div>
   <button type="button" class="btn btn-primary hidden" data-mdb-toggle="modal" data-mdb-target="#Info-Modal"
      id="info-modal-button">
   </button>
</div>

<!-- Info Modal -->
<div class="modal fade" id="Info-Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <h5 id="info-message">info</h5>
         </div>
      </div>
   </div>
</div>

<!-- Button trigger confirmation modal -->
<div>
   <button type="button" class="btn btn-primary hidden" data-mdb-toggle="modal" data-mdb-target="#Confirmation-Modal"
      id="confirmation-modal-button"></button>
</div>

<!-- Confimation Modal -->
<div class="modal fade" id="Confirmation-Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <h7 id="confirm-message"></h7>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="confirm-delete">Delete</button>
            <button type="button" class="btn btn-primary hidden" data-mdb-dismiss="modal"
               id="dismiss-confirmation-modal-btn"></button>
         </div>
      </div>
   </div>
</div>

<!-- Button trigger confirmation modal -->
<div>
   <button type="button" class="btn btn-primary hidden" data-mdb-toggle="modal" data-mdb-target="#Url-Modal"
      id="url-modal-button"></button>
</div>

<!-- Url-Modal -->
<div class="modal fade" id="Url-Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <form>
               <!-- input -->
               <div class="form-outline mb-4">
                  <input type="text" id="url-input" class="form-control" />
                  <label class="form-label" for="url-input">OpenFaaS url</label>
               </div>
               <!-- checkbox -->
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="direct-checkbox" />
                  <label class="form-check-label" for="direct-checkbox">
                     Direct connection
                  </label>

               </div>
               <!-- checkbox -->
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="no-openfaas-checkbox" />
                  <label class="form-check-label" for="no-openfaas-checkbox">
                     No OpenFaaS
                  </label>
               </div>
               <!-- checkbox -->
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="dark-theme-checkbox" />
                  <label class="form-check-label" for="dark-theme-checkbox">
                     Dark theme
                  </label>
               </div>
               <!-- checkbox -->
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="i-do-not-like-rounded-edges-checkbox" />
                  <label class="form-check-label" for="dark-theme-checkbox">
                     I don't like rounded edges
                  </label>
               </div>
               <div>
               <label class="hidden" id="url-message">Could not connect to openfaas</label>
            </div>
            </form>
         </div>
         <div class="modal-footer">
            
            <div class="spinner-border text-primary hidden spinner" id="url-spinner"></div>
            <button type="button" class="btn btn-danger" id="restore-defaults-btn">Restore defaults</button>
            <button type="button" class="btn btn-primary" id="set-url-btn">Ok</button>
            
         </div>
         <button type="button" class="btn btn-primary hidden" data-mdb-dismiss="modal"
            id="dismiss-url-modal-btn"></button>
      </div>
   </div>
</div>
{% if theme == 'dark' -%}
<footer class="bg-dark text-center text-white footer">
   {% else -%}
   <footer class="bg-light text-center text-white footer">
      {% endif %}

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
         <a class="text-white" href="https://www.uni-muenster.de/">Westfälische Wilhelms-Universität Münster</a>
         &nbsp&nbsp|&nbsp&nbsp
         <a class="text-white" href="https://www.gselectronic.com/">GS Electronics</a>
      </div>
      <!-- Copyright -->
   </footer>
   <!-- End -->

   <!-- MDB -->
   <script type="text/javascript" src="{{ url_for('static', filename='scripts/mdb.min.js') }}"></script>

   </body>

   </html>