{% include "header.html" %}

<!-- Button trigger modal -->
<div class="btn-container">
   <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#Modal">
      Add a new project
   </button>
   <button type="button" class="btn btn-danger" id="delete-project" disabled>Delete</button>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Add a new Project</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-outline mb-4">
                  <input type="file" webkitdirectory mozdirectory id="project-input"/>
               </div>
               
               <!-- Submit button -->
               <button type="button" class="btn btn-primary btn-block" id="add-btn">Add</button>
            </form>
            <button type="button" class="btn btn-primary hidden" data-mdb-dismiss="modal" id="dismiss-btn"></button>
         </div>
      </div>
   </div>
</div>

</div>
<!-- close content-->
<!-- Custom scripts -->
<script type="text/javascript" src="{{ url_for('static', filename='scripts/index.js') }}"></script>

{% include "footer.html" %}