html, body {
    height: 100%;
    scroll-behavior: smooth;
  }

body {
  display: flex;
  flex-direction: column;
}
  
.content {
  flex: 1 0 auto;
  padding-top: 70px;
  padding-bottom: 50px;
  margin-left:auto;
  margin-right:auto;
}

.footer {
  flex-shrink: 0;
}

.test-container{
  margin-top: 40px;
  border-top:1px solid rgba(0,0,0,.125);
}

.card{
  margin-top:10px;
  margin-bottom:40px;
  min-width: 1500px;
}

.license{
  max-width: 500px !important;
}

.list-group{
  margin-top:20px;
  margin-bottom:10px;
}

.row {
  --mdb-gutter-x: 3rem;
}

.buttons{
  margin-left:auto;
  margin-right:auto;
}

.hidden{
  display:none;
}


.red{
  color:#F44336;
}

.green{
  color:#4CAF50;
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-container button{
  margin-left:5px;
  margin-right:5px;
}

.img-container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img{
  max-width: 500px;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
}

.control-btn-container{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
}

.path{
  margin-left: 20px;
  font-weight: bold;
}

.path i{
  color: rgb(182, 182, 182) !important;
}

.path a, .list-group a{
  color: rgb(182, 182, 182) !important;
}

.path a:hover, .list-group a:hover{
  color: white !important;
}