html, body {
    height: 100%;
    scroll-behavior: smooth;
  }

body {
display: flex;
flex-direction: column;
}
  
.content {
flex: 1 0 auto;
padding-top: 70px;
padding-bottom: 50px;
margin-left:auto;
margin-right:auto;
}

.footer {
flex-shrink: 0;
}

.card{
    margin-top:10px;
    margin-bottom:10px;
    min-width: 1500px;
}

.row {
  --mdb-gutter-x: 3rem;
}

.buttons{
  margin-left:auto;
  margin-right: auto;
}

.hidden{
  display:none;
}

#info-message{
  color:#F44336;
}

.green{
  color:#4CAF50;
}

.orange{
  color:#FFA726;
}
